<div style='margin-top: 60px;'>
  <div class="card">
    <div class="card-header msg_head">
      <div class="d-flex bd-highlight">
        <div class="img_cont">
          <img src="/assets/files/images/user.png" class="rounded-circle user_img">
        </div>
        <div class="user_info">
          <span>{{userName}}</span>
        </div>
      </div>
      <span id="action_menu_btn"><i class="fas fa-video"></i></span>
      <!-- <span><i class="fas fa-phone"></i></span>  -->
    </div>
    <div *ngIf="messages.length==0 || !this.selectedUser" style="text-align: center; color: #FFFFF7; margin-top: 10%;">
      No message here yet.
    </div>
    <div id='chatbox' #chatbox (scroll)="onScroll($event)" *ngIf="this.selectedUser">
      <div class="msg_card_body" *ngFor="let content of messages" >
        <div class="d-flex justify-content-start" *ngIf="content.senderId==id">
          <div class="img_cont_msg">
            <img src="/assets/files/images/user.png" class="rounded-circle user_img_msg">
          </div>
          <div class="msg_cotainer_send" style='margin-bottom: 5px; overflow: hidden;'>
            <span style="margin-right: 30px">{{content.message}}</span>
            <small style="color: rgba(255,255,255,0.5);" *ngIf="content.senderId==id">{{moment(content.createdAt).startOf('minute').fromNow()}}</small>
          </div>
        </div>
        <div class="d-flex justify-content-end mb-4" *ngIf="content.senderId!=id">
          <div class="msg_cotainer">
            <span style="margin-right: 30px">{{content.message}}</span>
            <small style="font-size: 10px; color: rgba(255,255,255,0.5);" *ngIf="content.senderId!=id">{{moment(content.createdAt).startOf('minute').fromNow()}}</small>
          </div>
          <div class="img_cont_msg">
            <img src="/assets/files/images/user.png" class="rounded-circle user_img_msg">
          </div>
        </div>
      </div>
    </div>
</div>
<div class='row justify-content-center'>
  <div class='col-md-3 col-xl-3'></div>
  <div class="card-footer" *ngIf="selectedUser" >
    <div class="input-group">
      <div class="input-group-append">
        <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
      </div>
      <textarea name="" [formControl]="messageContent" class="form-control type_msg" placeholder="Type your message..."></textarea>
      <div class="input-group-append" style="cursor: pointer" (click)="sendMessage()">
        <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
      </div>
    </div>
  </div>
</div>
